<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Inventario ITO</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Area <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('area_new') }}">Crear</a></li>
                        <li><a href="{{ path('area_index') }}">Listar</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Empleado <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('empleado_new') }}">Crear</a></li>
                        <li><a href="{{ path('empleado_index') }}">Listar</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Monitor <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('monitor_new') }}">Crear</a></li>
                        <li><a href="{{ path('monitor_index') }}">Listar</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tarjeta Grafica <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('tarjetagrafica_new') }}">Crear</a></li>
                        <li><a href="{{ path('tarjetagrafica_index') }}">Listar</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sistema Operativo <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('sistemaoperativo_new') }}">Crear</a></li>
                        <li><a href="{{ path('sistemaoperativo_index') }}">Listar</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Procesador <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('procesador_new') }}">Crear</a></li>
                        <li><a href="{{ path('procesador_index') }}">Listar</a></li>
                    </ul>
                </li>  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cpu <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('cpu_new') }}">Crear</a></li>
                        <li><a href="{{ path('cpu_index') }}">Listar</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Equipo <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('equipo_new') }}">Crear</a></li>
                        <li><a href="{{ path('equipo_index') }}">Listar</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Teclado <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('teclado_new') }}">Crear</a></li>
                        <li><a href="{{ path('teclado_index') }}">Listar</a></li>
                    </ul>
                </li>  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tipo Equipo <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('tipoequipo_new') }}">Crear</a></li>
                        <li><a href="{{ path('tipoequipo_index') }}">Listar</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ubicación <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('ubicacion_new') }}">Crear</a></li>
                        <li><a href="{{ path('ubicacion_index') }}">Listar</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Memoria Ram <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('memoriaram_new') }}">Crear</a></li>
                        <li><a href="{{ path('memoriaram_index') }}">Listar</a></li>
                    </ul>
                </li>  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Usuario <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('usuario_new') }}">Crear</a></li>
                        <li><a href="{{ path('usuario_index') }}">Listar</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mouse <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('mouse_new') }}">Crear</a></li>
                        <li><a href="{{ path('mouse_index') }}">Listar</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>