{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tipo equipo</h1>

    <table class="table table-striped table-bordered table-hover">
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ tipoEquipo.nombre }}</td>
            </tr>
        </tbody>
    </table>
<a class="btn boton_crear" href="{{ path('tipoequipo_edit', { 'id': tipoEquipo.id }) }}">Editar</a>
<a href="{{ path('tipoequipo_index') }}">Volver a la lista</a>

{% endblock %}
