{% extends 'base.html.twig' %}

{% block body %}
    <h1>Usuario</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ usuario.nombre }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ usuario.password }}</td>
            </tr>
        </tbody>
    </table>
    <a class="btn boton_crear" href="{{ path('usuario_edit', { 'id': usuario.id }) }}">Editar</a>
    <a href="{{ path('usuario_index') }}">Volver a la lista</a>
{% endblock %}
