{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mouse edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <br><input type="submit" value="Guardar" class="btn boton_crear" />
    {{ form_end(edit_form) }}
    <br>
    <a href="{{ path('mouse_index') }}">Volver a la lista</a
{% endblock %}
