{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mouse</h1>

    <table class="table table-striped table-bordered table-hover">
        <tbody>
            <tr>
                <th>Marca</th>
                <td>{{ mouse.marca }}</td>
            </tr>
            <tr>
                <th>Serial</th>
                <td>{{ mouse.serial }}</td>
            </tr>
        </tbody>
    </table>        
    <a class="btn boton_crear" href="{{ path('mouse_edit', { 'id': mouse.id }) }}">Editar</a>
    <a href="{{ path('mouse_index') }}">Volver a la lista</a>
 
{% endblock %}
